/*common*/
html {
  font-size: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.7;
  background-color: #eee;
}

main {
  height: 100%;
}

/*ナビゲーション*/
.nav {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  background-color: #fff;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin: auto 30px;
  float: left;
}

.nav-menu {
  text-align: right;
  margin-left: auto;
}

.nav-list {
  margin: auto 0;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

.nav-list-item_a {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  width: 200px;
  height: 100px;
}

.nav-list-item_button {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
}

.nav-list-item_button:hover {
  color: blue;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}

/*ログイン 登録*/
.login,
.register {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 30px;
}

.login-form_text,
.register-form_text {
  font: 12px/24px;
  box-sizing: border-box;
  width: 100%;
  margin: 15px 0;
  padding: 0.5em;
  transition: 0.3s;
  border: 1px solid #1b2538;
  border-radius: 4px;
  outline: none;
}

.login-form_submit,
.register-form_submit {
  font: 12px/24px;
  font-weight: bold;
  color: #fff;
  background-color: blue;
  width: 100%;
  margin-top: 15px;
  padding: 0.5em;
  transition: 0.3s;
  border-radius: 4px;
  cursor: pointer;
}

.login-info,
.register-info {
  width: 100%;
  text-align: center;
  color: darkgray;
  margin-bottom: 0;
  margin-top: 30px;
}

.login-info-link,
.register-info-link {
  color: blue;
}

.login-info-link_a,
.register-info-link_a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

/*フッター*/
.footer {
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
}

.footer_index {}

@media only screen and (max-height: 800px) {

  .footer_index {
    position: relative;
    left: 50%;
    bottom: 0;
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {
  .footer_index {
    position: relative;
    left: 50%;
    bottom: 0;
    text-align: center;
  }
}

/*index*/
.index-container {
  width: 100%;
  background-color: #eee;
}

.index-title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.index-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
  align-items: center;
}

.index-box {
  width: 35%;
  height: 250px;
  padding: 10px;
  margin: 20px 30px;
  position: relative;
  border: #fff 1px solid;
  border-radius: 5px;
}

.index-box-button {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  border: #fff 1px solid;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disabled {
  color: #eee;
}

@media only screen and (max-width: 768px) {
  .index-wrapper {
    flex-direction: column;
  }

  .index-box {
    width: 80%;
    height: 150px;
  }
}

/*日別一覧*/
.attendance-search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 30px;
}

.search-text {
  font-size: 20px;
  font-weight: bold;
  vertical-align: text-top;
}

.search-form_button {
  height: 28px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  padding: 0 5px;
  color: blue;
  border: blue 1px solid;
  vertical-align: middle;
  background-color: #fff;
}

.attendance-table {
  width: 80%;
  margin: 50px auto;
}

.attendance-table_th,
.attendance-table_td {
  border-top: solid 1px #ccc;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 30px;
  margin: 30px 30px;
  text-align: left;
}

@media only screen and (max-height: 800px) {
  .attendance-wrapper {
    height: 100vh;
  }
}
@media only screen and (max-width: 800px) {
  .attendance-table_th,
  .attendance-table_td {
    font-size: 12px;
    margin: 30px 10px;
  }

}
@media only screen and (max-width: 600px) {

  .attendance-table {
    width: 100%;
  }

  .attendance-table th {
    display: none;
  }

  .attendance-table_th,
  .attendance-table_td {
    display: block;
    width: 100%;
    border-bottom: none;
    padding: 10px;
    margin: 0;
  }

  .attendance-table_td {
    display: block;
    min-height: 50px;
  }

  .attendance-table_td:first-child {
    border-top: #000 2px double;
  }

  .attendance-table_td:before {
    content: attr(data-label);
    color: darkgray;
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

/*ページネーション*/
.page {
  display: flex;
  align-items: center;
  justify-content: center;
}